@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:200');

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.0;
  word-wrap: break-word;
  overflow-x: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: rgba(255,255,255,0.929);
}

body:before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  transform: scale(1);
  background-position: 0% 0%, center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll;
  background-color: rgb(40, 40, 40);
}

a {
  color: rgb(57, 60, 61);
  padding-right: .75rem;
  padding-left: .75rem;
}

a:hover {
  color: rgba(255,255,255,0.929);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem
}

.main {
  display: flex;
  position: relative;
  max-width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  background-color: rgb(40, 40, 40);
  border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
}

.inner {
  overflow-x: hidden;
  width: 40rem;
  max-width: 100%;
  padding-top: 3.21875rem;
  padding-left: 4.375rem;
  padding-right: 4.375rem;
  padding-bottom: 4.21875rem;
}

.location {
  color: rgba(255, 255, 255, 0.225);
  padding-bottom: 2rem;
  font-size: 3.50rem;
}

.icon {
  color: rgb(255,255,178);
  /* color: rgba(255, 255, 255, 0.225); */
  padding-bottom: 1.2625rem;
  padding-right: .75rem;
}

.temp {
  font-size: 9.25rem;
  padding-bottom: .5rem;
  padding-left: .75rem;
}

.icon, .temp {
  display: inline-block;
}

.summary, .details {
  color: rgba(255, 255, 255, 0.225);
  font-size: 1.50rem;
  padding: 1.50rem 0;
}

.alert-title {
  color: rgb(244, 108, 131);
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.humidity, .wind {
  color: rgb(0,128,255);
  padding-bottom: .75rem;
  font-size: 1.75rem;
}

.wi {
  font-size: 7rem;
}

.wi-humidity, .wi-strong-wind {
  font-size: 1.50rem;
}

.wi-humidity {
  padding-right: 10px;
}

.wi-fahrenheit, .wi-celsius {
  font-size: 2.75rem;
}
